* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.restro-card {
    width: 150px;
    border: 1px solid black;
    padding:5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-btn {
    cursor: pointer;
    padding: 5px;
}

.restro-logo {
    width: 140px;
    height: 100px;
}

.logo {
    height: 100px;
    width: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
}

.body {
    padding: 15px;
}

.filter {
    display: flex;
    /* align-content: center; */
    align-items: center;
    gap: 20px;
}

.menu {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cuisines {
    word-wrap: break-word;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 20px;
}

.shimmer-card {
    width: 150px;
    height: 200px;
    background-color: grey;
}

.shimmer-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.login-btn {
    padding: 5px;
    cursor: pointer;
}